.header {
  --header-horizontal-padding: 10px;
  background-color: var(--light-gray-bg-color);
  padding: 45px var(--header-horizontal-padding);
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
}

.main-nav {
  position: relative;
}

.nav-list {
  display: none;
}

.burger {
  --size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: var(--size);
  width: var(--size);
  padding: 5px;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--progress-bg-color);
}

.burger-line {
  height: 3px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 5px;
}

.nav-list-item {
}

.nav-list-item + .nav-list-item {
  margin-top: 15px;
}

.nav-link {
  display: block;
  color: var(--heading-color);
  font-size: 1rem;
  line-height: 1.65;
}

.nav-link:hover,
.nav-link:focus {
  font-weight: 500;
  color: var(--accent-color);
}

@media screen and (max-width: 575px) {
  .nav-list-opened {
    display: block;
    position: absolute;
    top: 110%;
    right: calc(
      -1 * (var(--row-margin-size) + var(--header-horizontal-padding))
    );
    background-color: var(--light-gray-bg-color);
    padding: 20px;
    width: 100vw;
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .burger {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-list-item + .nav-list-item {
    margin-top: 0;
    margin-left: 15px;
  }
}
