.microsoft-section {
    padding-bottom: 40px;
}

.div-microsoft {
    margin: 0 auto;
    min-width: 100px;
    max-width: 255px;
    width: 100%;
    min-height: 30px;
    max-height: 120px;
    height: 100%;
}

.img-microsoft {
    min-width: 100px;
    max-width: 255px;
    width: 100%;
    min-height: 30px;
    max-height: 120px;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .div-microsoft {
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .div-microsoft {
        margin: 0;
    }
}